@{
    ViewData["Title"] = "Home Page";
}

<div class= "tituloIndex">
    <h1>El C DIGO OCULTO</h1>
</div>
<div class="center">
    <img class="imgDeIndex"  src="/img/ElCodigoOculto.png">
</div>
    <div class="imgs">
    <img src ="/img/imagenPresentacion1.jpg">
    <img src="/img/imagenPresentacion2.jpg">
    <img src="/img/imagenPresentacion3.jpg">
    </div>


