<div class = "tutorialTitulo">
    <h1>Tutorial:</h1>
</div>
<pre>El juego consiste en adivinar los acertijos de distintas habitaciones las cuales seran 4, al completar la primera se pasara a la siguiente 
y asi hasta terminar la cuarta habitacion.
En cada habitacion habra un juego distinto en forma de acertijo, cada juego tiene su respuesta esta sera siempre en numeros.
Si necesitas alguna pista podes pulsar el boton llamado <FONT COLOR = "DarkOrange" >"Pista "</FONT> . Y si estas atascado con la habitacion podes pedir 
una pista extra con el boton llamado  <FONT COLOR = "DarkOrange" >"Pista Extra"</FONT>.</pre>
<pre>La tematica elegida es la matematica y la logica. 
Ayuda al doctor Pit a resolver las salas de escapes matematicas y liberalo de su jaula. 
</pre>
<div class = "imgsTutorial">
    <div>
    <img src="/img/tutorialSala1.png">
    <p>¿Cual es el valor de la incognita? Resuelvelo en la sala 1.</p>
    </div>

    <div>
     <img src="/img/tutorialSala2.png">
     <p>Haz calculos para resolver el valor final en la sala 2.</p>
    </div>

    <div>
    <img src="/img/tutorialSala3.png">
    <p>Suma o resta para resolver el valor de las tortitas en la sala 3.</p>
    </div>

    <div>
    <img src="/img/tutorialSala4.png">
    <p>Resuelve las distintas sumas o restas matematicas y escribe la respuesta en la sala 4.</p>
    </div>
</div>


