<p class="victoria">¡GANASTE!</p>
<p class="felicidades">TOMA TUS MEDIALUNAS DE LA VICTORIA</p>
<div class="center">
<img height="35%" src="/img/medialunas.png">
</div>
<p class="felicidades">¿como lo hiciste?</p>